{% extends "page.html" %}

{% import "macros.html" as m %}

{% block stylesheet %}
  {% assets "notebook_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
  {% endassets %}

  {{ super() }}
{% endblock stylesheet %}


{% block script %}
  {{ super() }}
  
  {% if mathjax_url %}
    <script type="text/javascript" src="{{ mathjax_url }}?config=TeX-AMS_HTML-full&amp;delayStartupUntil=configured" charset="utf-8">
      </script>
  {% endif %}
  
  <script type="text/javascript">
  // MathJax disabled, set as null to distingish from *missing* MathJax,
  // where it will be undefined, and should prompt a dialog later.
    window.mathjax_url = "{{ mathjax_url }}";
  </script>
  
  {% assets "notebook_js" %}
      <script src="{{ ASSET_URL }}"  type="text/javascript" charset="utf-8">
        </script>
  {% endassets %}
{% endblock script %}


{% block params %}
  data-project={{project}}
  data-base-project-url={{base_project_url}}
  data-base-kernel-url={{base_kernel_url}}
  data-read-only={{read_only and not logged_in}}
  data-notebook-id={{notebook_id}}
  class="notebook_app"
{% endblock %}


{% block header %}
  <span id="save_widget">
    <span id="notebook_name"></span>
    <span id="save_status"></span>
  </span>
{% endblock header %}


{% block site %}
  <div id="menubar_container">
    <div id="menubar">
      <ul id="menus">
        <li><a href="#">File</a>
          <ul>
            {{ m.item("new_notebook", "New") }}
            {{ m.item("open_notebook", "Open...") }}
          
            <hr/>
          
            {{ m.item("copy_notebook", "Make a Copy...") }}
            {{ m.item("rename_notebook", "Rename...") }}
            {{ m.item("save_notebook", "Save") }}
          
            <hr/>
          
            <li><a href="#">Download as</a>
              <ul>
                {{ m.item("download_ipynb", "IPython (.ipynb)") }}
                {{ m.item("download_py", "Python (.py)") }}
              </ul>
            </li>
            <!--
            <hr/>
            <li id="print_notebook"><a href="/{{notebook_id}}/print" target="_blank">Print View</a></li>
            -->
          
            <hr/>
          
            {{ m.item("kill_and_exit", "Close and halt") }}
          </ul>
        </li>
      
        <li><a href="#">Edit</a>
          <ul>
            {{ m.item("cut_cell", "Cut Cell") }}
            {{ m.item("copy_cell", "Copy Cell") }}
            {{ m.item("paste_cell_above", "Paste Cell Above", 0) }}
            {{ m.item("paste_cell_below", "Paste Cell Below", 0) }}
            {{ m.item("paste_cell_replace", "Paste Cell &amp; Replace", 0) }}
            
            {{ m.item("delete_cell", "Delete Cell") }}
            {{ m.item("undelete_cell", "Undo Delete Cell", 0) }}
          
            <hr/>
            
            {{ m.item("split_cell", "Split Cell") }}
            {{ m.item("merge_cell_above", "Merge Cell Above") }}
            {{ m.item("merge_cell_below", "Merge Cell Below") }}
          
            <hr/>
          
            {{ m.item("move_cell_up", "Move Cell Up") }}
            {{ m.item("move_cell_down", "Move Cell Down") }}
          
            <hr/>
          
            {{ m.item("select_previous", "Select Previous Cell") }}
            {{ m.item("select_next", "Select Next Cell") }}
          </ul>
        </li>
      
        <li><a href="#">View</a>
          <ul>
            {{ m.item("toggle_header", "Toggle Header") }}
            {{ m.item("toggle_toolbar", "Toggle Toolbar") }}
          </ul>
        </li>
      
        <li><a href="#">Insert</a>
          <ul>
            {{ m.item("insert_cell_above", "Insert Cell Above") }}
            {{ m.item("insert_cell_below", "Insert Cell Below") }}
          </ul>
        </li>
      
        <li><a href="#">Cell</a>
          <ul>
            {{ m.item("run_cell", "Run") }}
            {{ m.item("run_cell_in_place", "Run in Place") }}
            {{ m.item("run_all_cells", "Run All") }}
            {{ m.item("run_all_cells_above", "Run All Above") }}
            {{ m.item("run_all_cells_below", "Run All Below") }}
          
            <hr/>
          
            {{ m.item("to_code", "Code") }}
            {{ m.item("to_markdown", "Markdown ") }}
            {{ m.item("to_raw", "Raw Text") }}
            {{ m.item("to_heading1", "Heading 1") }}
            {{ m.item("to_heading2", "Heading 2") }}
            {{ m.item("to_heading3", "Heading 3") }}
            {{ m.item("to_heading4", "Heading 4") }}
            {{ m.item("to_heading5", "Heading 5") }}
            {{ m.item("to_heading6", "Heading 6") }}
          
            <hr/>
          
            {{ m.item("toggle_output", "Toggle Current Output") }}
            <li id="all_outputs"><a href="#">All Output</a>
              <ul>
                {{ m.item("expand_all_output", "Expand") }}
                {{ m.item("scroll_all_output", "Scroll Long") }}
                {{ m.item("collapse_all_output", "Collapse") }}
                {{ m.item("clear_all_output", "Clear") }}
              </ul>
            </li>
          </ul>
        </li>
      
        <li><a href="#">Kernel</a>
          <ul>
            {{ m.item("int_kernel", "Interrupt") }}
            {{ m.item("restart_kernel", "Restart") }}
          </ul>
        </li>
      
        <li><a href="#">Help</a>
          <ul>
            {{ m.ext("ipython.org/documentation.html", "IPython Help") }}
            
            {{ m.ext("ipython.org/ipython-doc/stable/interactive/htmlnotebook.html", "Notebook Help") }}
            
            {{ m.item("keyboard_shortcuts", "Keyboard Shortcuts") }}
          
            <hr/>
            
            {{ m.ext("docs.python.org", "Python") }}
            {{ m.ext("docs.scipy.org/doc/numpy/reference", "NumPy") }}
            {{ m.ext("docs.scipy.org/doc/scipy/reference", "SciPy") }}
            {{ m.ext("docs.sympy.org/dev", "SymPy") }}
            {{ m.ext("matplotlib.sourceforge.net", "Matplotlib") }}
          </ul>
        </li>
      </ul>
    </div> <!-- /menubar -->
    <div id="notification_area"></div>
  </div><!-- /menubar_container -->

  <div id="maintoolbar"></div>

  <div id="ipython-main-app">
    <div id="notebook_panel">
      <div id="notebook"></div>
      <div id="pager_splitter"></div>
      <div id="pager_container">
        <div id="pager_button_area"></div>
        <div id="pager"></div>
      </div>
    </div>
  </div>

  <div id="tooltip" class="ipython_tooltip" style="display: none;"></div>
{% endblock site %}
